* {
  padding: 0;
  margin: 0;
}

#centro {
  width: 90%;
  height: 100%;
  background: #333;
  margin: 0 auto;
}

#topo {
  width: 100%;
  height: 20%;
  background: #f00;
}

@media screen and (min-width: 320px) and (max-width: 568px) {
  #centro {
    width: 100%;
  }
}