body , html {
  padding: 0;
  margin: 0;
}

.centro {
  background: #333;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.topo {
  background: #f00;
  height: 20%;
  text-align: center;
  width: 100%;
}

.topo h1 {
  color: #fff;
  font-size: 2em;
}

.colunas2 {
  background: #999;
  flex: 1;
  height: 30%;
  padding: 10px;
  width: 50%;
}

@media screen and (min-width: 320px) and (max-width: 568px) {
  .centro {
    width: 100%;
  }

  .topo {
    background: #ff0;
  }

  .topo h1 {
    color: #f00;
  }
  
  .colunas2 {
    background: #f00;
    float: none;
    margin-top: 5px;
    width: 100%;
  }
}
